@* daily rides graph
How many rides completed yesterday And How many completed today  *@

@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.Title = "Analytics";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Admin/analytics.css" />
}

<h2 class="wallet-balance-section">Analytics</h2>



