@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.Title = "Wallet";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Admin/loginhistory.css" />
}

<h2 class="wallet-balance-section">Login History</h2>

