@{

    Layout = "_DriverLayout.cshtml";
    ViewBag.Title = "Dashboard";

}

@section Styles {
    <link rel="stylesheet" href="~/css/Driver/Driver.css" />
}


<h1>Welcome to the Driver Dashboard</h1>
<p>This area is accessible only to users with the "Driver" role.</p>