@{
    Layout = "_PassengerLayout.cshtml";
    ViewBag.Title = "Wallet";
}
@section Styles {
    <link rel="stylesheet" href="~/css/passengerWallet.css" />
}

<h2 class="wallet-balance-section">Wallet Page</h2>
<p>This is the passenger wallet page.</p>


